<setup-config>
  <siteUrl>https://[tennant-name].sharepoint.com/sites/[site-url]</siteUrl>
  <siteTemplate>STS#0</siteTemplate>
  <siteName>My cool site</siteName>
  <tennantUrl>https://[tennant-name]-admin.sharepoint.com</tennantUrl>













































































  <tennantAdmin>admin@[tennant-name].onmicrosoft.com</tennantAdmin>
  <tennantPassword>[Password]</tennantPassword>
</setup-config>